nelmio_api_doc:
    documentation:
        info:
            title: Subscription management app
            description: Small system to manage subscriptions to digital products
            version: 1.0.0
    areas:
        default:
            path_patterns:
                - ^/api(?!/doc$)
